* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* header block */

.header {
  background-color: rgba(0, 0, 0, 1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.header__container__logo {
  width: 68px;
  height: 29px;
  margin-top: 10px;
}

.header__container__button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-width: 140px;
  border-radius: 3px;
  padding: 10px 37px;
  background-color: rgba(111, 226, 251, 1);
}

/* main-content block */

.main-content {
  overflow: 1;
  padding: 80px 26px;
}

.main-content__info {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

/* form block */

.form {
  display: grid;
  gap: 15px;
  padding-top: 20px;
  place-content: center;
}

.form__form-content {
  display: flex;
  flex-direction: column;
}

.form__form-content__title {
  display: block;
  text-align: center;
}

.form__form-content__input,
.form_form-content__button {
  border-radius: 3px;
  background-color: rgba(232, 232, 232, 1);
  min-width: 250px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.form_form-content__button {
  background-color: rgba(255, 237, 71, 1);
}
